* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: 700px;
    height: 700px;
    background: #fffda9;
    margin: auto;
    position: relative;
}

.header {
    font-size: 35px;
    color: #223bb4;
    background-color: #d5feff;
    width: 97%;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
}

.container {
    position: absolute;
    top: 70px;
    width: 100%;
    padding-left: 20px;
}

.full-value {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.text {
    color: #223bb4;
    font-size: 30px;
    width: 180px;
}

input {
    padding: 10px;

}

.input-form {
    width: 350px;
}

.lablel-input {
    font-size: 30px;
}

.input-radio {
    height: 20px;
    width: 20px;
    margin: 0 5px;
}

textarea {
    width: 350px;
    height: 100px;
}

select {
    width: 200px;
}

.value-button {
    margin-left: 180px;
}

button {
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 10px;
}



